<ion-view title="Change Password" hide-nav-bar="true">
    <div class="bar bar-header bar-stable">
      <a class="button icon-left" ng-click="myGoBack()"><i class="ion-android-arrow-back" aria-hidden="true"></i>
        </a>
      <h1 class="title">Change Password</h1>
    </div>
    <ion-content class="sigin_screen" scroll="" has-header="true">
        <div class="login">
            <div class="container">
                <form name="userForm">
                    <div class="pass">
                    <label class="item item-input item-stacked-label">
                            <input type="Password" placeholder="Old password" required="" ng-model="user.oldPassword" name="oldPassword">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </label>
                        <span style="color:red" data-ng-show="submitted && userForm.oldPassword.$error.required">Old password is required.</span>

                        <label class="item item-input item-stacked-label">
                            <input type="Password" placeholder="New Password" required="" ng-model="user.newPassword" name="newPassword" limit-char limit="20" minlength="5">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </label>
                        <span style="color:red" data-ng-show ="submitted && userForm.newPassword.$error.required">New password is required.</span>
                        <span style="color:red" ng-show="submitted && userForm.newPassword.$error.minlength">Minimum 5 characters</span>

                        <label class="item item-input item-stacked-label">
                            <input type="Password" placeholder="Confirm Password" required="" ng-model="user.confirmPassword" same-value-as="{{user.newPassword}}" valid-confirmPassword="user.password" pw-check="password" id="confirmPassword" name="confirmPassword">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </label>
                        <span style="color:red" data-ng-show="submitted && userForm.confirmPassword.$error.required">Confirm password is required.</span>
                        <span style="color:red" data-ng-show="submitted && userForm.confirmPassword.$error.sameValueAs">Confirm password is not match.</span>


                        <button class="button button-balanced" ng-click="changePassword(user,userForm.$valid)">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>