<ion-view title="Forgot Password" hide-nav-bar="true">
    <div class="bar bar-header bar-stable">
      <a class="button icon-left" ng-click="myGoBack()"><i class="ion-android-arrow-back" aria-hidden="true"></i>
        </a>
      <h1 class="title">Forgot Password</h1>
    </div>
    <ion-content class="sigin_screen" scroll="" has-header="true">
        <div class="login">
            <div class="container">
                <form name="userForm">
                    <div class="pass">
                        <label class="item item-input item-stacked-label">
                            <input type="email" placeholder="Email" required ng-model="user.email" name="email">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </label>
                         <span style="color:red" data-ng-show="submitted && userForm.email.$error.required">Email is required.</span>
                         <span style="color:red" data-ng-show="submitted && userForm.email.$error.email">Invalid email address</span>
                        <button class="button button-balanced" ng-click="forgotPassword(user,userForm.$valid)">Forgot Password</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>