<ion-view title="Job Detail" hide-nav-bar="true" ng-init="job_dataa()">
    <div class="bar bar-header bar-stable">
        <a class="button icon-left" ng-click="myGoBack()"><i class="ion-android-arrow-back" aria-hidden="true"></i>
        </a>
        <h1 class="title">Job Detail</h1>
    </div>
    <ion-content class="job_detail_screen has-header" style="background:#f5f5f5;"  scroll="true" has-header="false">
        <div class="job_detail">
            <div class="list padding">
                <h1 class="text-center" style="padding:20px 0;">{{jobdata.job_name}}</h1>
                <p ng-if="jobdata.price_type =='F'" class="job_type">Fixed</p>
                <p ng-if="jobdata.price_type =='H'" class="job_type">Hourly</p>
                <p class="price">Price:<span style="color:#8ebf29;">${{jobdata.price}}</span></p>
                <p class="date_cont"><i class="fa fa-calendar" aria-hidden="true"></i>{{jobdata.job_date | date:' d MMM yyyy'}}, {{jobdata.job_time | date:' h:mm:ss a'}}</p>
                <p class="date_cont location"><i class="fa fa-map-marker" aria-hidden="true"></i>{{jobdata.city}}, {{jobdata.country}}<br>
                {{jobdata.location}}</p>
            </div>
            <div class="list job_description padding">
                <h4>Description</h4>
                <p>{{jobdata.job_desc}}.</p>
            </div>
            <div ng-if="status.apply_status == 1" class="padding client_cont">
                <h4 class="title_client">Client</h4>
                <a class="item item-avatar item-icon-right" ng-click="messageG(creater.id)">
                     <img ng-if="creater.pic" ng-src="{{img_url+creater.pic}}">
                    <img ng-if="!creater.pic" src="img/client.png">
                    <h2>{{creater.first_name}} {{creater.last_name}}</h2>
                    <div class="icon msg_icn"><i class=" fa fa-comment-o" aria-hidden="true" style="margin-right:5px;"></i>Message</div>
                </a>
            </div> 
            <div ng-if="status.apply_status == 2" class="padding client_cont">
                <h4 class="title_client">Client</h4>
                <a class="item item-avatar item-icon-right" ng-click="messageG(creater.id)">
                    <img ng-if="creater.pic" src="{{img_url+creater.pic}}">
                    <img ng-if="!creater.pic" src="img/client.png">
                    <h2>{{creater.first_name}} {{creater.last_name}}</h2>
                    <div class="icon msg_icn"><i class=" fa fa-comment-o" aria-hidden="true" style="margin-right:5px;"></i>Message</div>
                </a>
            </div>  
            <div ng-if="status.apply_status == 0" class="list padding text-center">
                <button class="button button-balanced" ng-click="applyJob(jobdata.id,jobdata.user_id)">Apply</button>
            </div>

            <div ng-if="status.apply_status == 1" class="list padding text-center">
               <button ng-disabled="status.apply_status == 1" class="button button-light">WAITING CLIENT RESPONSE</button>
            </div>
            <div ng-if="status.apply_status == 2" class="list  padding text-center">
             <button class="button button-balanced" ng-click="startJob(jobdata.job_id)">START JOB</button>
               <button class="button button-dark" ng-click="canceljob(jobdata.job_id)">Cancel</button>
           </div>
        </div>
    </ion-content>
</ion-view>