<ion-view  title="Purchase" can-swipe-back="true" hide-back-button="true" ng-init="init_payment()">
  <div class="bar bar-header bar-stable">
    <h1 class="title">Purchase</h1>
  </div>
   <ion-content scroll="true" has-header="true">
        <div class="login purchase" style="background:#000;">
        <div class="setting_screen blocked_contacts text-center">
          <div class="list padding upgrade_list">
              <div class="upgard_logo"><img src="img/180.png">
              <h3 class="text-center purchase">Would you like to HalpHero<br> <span> premium</span> for <br/>EUR 9.99/Month?</h3>     
              <button class="button button-balanced signup_go button button-block" ng-click="buy('com.halphero.provider.purchasetesting')">Yes, Purchase!</button>   
          </div>
        </div>
        </div>
  </ion-content>
</ion-view>
